:root {
  /* Text sizes */
  --text-size-display: 2.5rem;
  --text-size-primary-keys: 2rem;
  --text-size-secondary-keys: 1.25rem;

  /* Spacings */
  --space-keypad-horizontal-padding: 1.5rem;
  --space-keypad-vertical-padding: 1.5rem;
  --space-keypad-key-horizontal-gap: 0.8125rem;
  --space-keypad-key-vertical-gap: 0.8125rem;

  /* Sizes */
  --size-display-height: 5.5rem;
  --size-display-horizontal-padding: 1.5rem;
  --size-key-border-radius: 0.3125rem;

  /* Colors */
  --white: hsla(0, 0%, 100%, 1);
  --yellow: hsla(52, 100%, 62%, 1);

  --dark-grayish-blue-600: hsla(221, 14%, 31%, 1);
  --dark-grayish-blue-900: hsla(198, 20%, 13%, 1);

  --dark-blue-300: hsla(224, 51%, 76%, 1);
  --dark-blue-400: hsla(225, 21%, 49%, 1);
  --dark-blue-500: hsla(224, 28%, 35%, 1);
  --dark-blue-600: hsla(223, 26%, 31%, 1);
  --dark-blue-700: hsla(224, 30%, 21%, 1);
  --dark-blue-800: hsla(224, 36%, 15%, 1);

  --cream-10: hsla(31, 100%, 100%, 1);
  --cream-50: hsla(0, 0%, 93%, 1);
  --cream-100: hsla(0, 0%, 90%, 1);
  --cream-150: hsla(45, 7%, 89%, 1);
  --cream-200: hsla(31, 24%, 89%, 1);
  --cream-400: hsla(0, 5%, 81%, 1);
  --cream-600: hsla(27, 15%, 65%, 1);
  --cream-700: hsla(35, 11%, 61%, 1);

  --red-200: hsla(6, 93%, 67%, 1);
  --red-400: hsla(6, 63%, 50%, 1);
  --red-600: hsla(6, 70%, 34%, 1);

  --orange-200: hsla(25, 100%, 61%, 1);
  --orange-400: hsla(25, 98%, 40%, 1);
  --orange-600: hsla(25, 99%, 27%, 1);

  --cyan-50: hsla(176, 100%, 79%, 1);
  --cyan-100: hsla(177, 92%, 70%, 1);
  --cyan-200: hsla(176, 100%, 44%, 1);
  --cyan-300: hsla(184, 40%, 56%, 1);
  --cyan-400: hsla(184, 42%, 37%, 1);
  --cyan-600: hsla(185, 58%, 25%, 1);

  --violet-100: hsla(285, 91%, 52%, 1);
  --violet-200: hsla(280, 56%, 44%, 1);
  --violet-250: hsla(268, 54%, 44%, 1);
  --violet-300: hsla(290, 70%, 36%, 1);
  --violet-400: hsla(281, 89%, 26%, 1);
  --violet-600: hsla(268, 47%, 21%, 1);
  --violet-800: hsla(268, 71%, 12%, 1);
  --violet-900: hsla(268, 75%, 9%, 1);
}

@media screen and (min-width: 48em) {
  :root {
    /* Text sizes */
    --text-size-display: 3.5rem;
    --text-size-primary-keys: 2.5rem;
    --text-size-secondary-keys: 1.75rem;

    /* Spacings */
    --space-keypad-horizontal-padding: 1.875rem;
    --space-keypad-vertical-padding: 2rem;
    --space-keypad-key-horizontal-gap: 1.5625rem;
    --space-keypad-key-vertical-gap: 1.5rem;

    /* Sizes */
    --size-display-height: 8rem;
    --size-display-horizontal-padding: 2rem;
    --size-key-border-radius: 0.625rem;
  }
}

/* Themes */
.theme-1 {
  /* Background colors */
  --color-main-background: var(--dark-blue-600);
  --color-theme-switch-background: var(--dark-blue-700);
  --color-display-background: var(--dark-blue-800);
  --color-keypad-background: var(--dark-blue-700);
  --color-key-background: var(--cream-200);
  --color-delete-key-background: var(--dark-blue-400);
  --color-reset-key-background: var(--dark-blue-400);
  --color-equals-key-background: var(--red-400);

  /* Key shadow colors */
  --color-key-shadow: var(--cream-600);
  --color-delete-key-shadow: var(--dark-blue-500);
  --color-reset-key-shadow: var(--dark-blue-500);
  --color-equals-key-shadow: var(--red-600);

  /* Text colors */
  --color-calculator-name: var(--white);
  --color-theme-switch-text: var(--white);
  --color-display-text: var(--white);
  --color-key-text: var(--dark-grayish-blue-600);
  --color-delete-key-text: var(--white);
  --color-reset-key-text: var(--white);
  --color-equals-key-text: var(--white);

  /* Other colors */
  --color-theme-switch: var(--red-400);

  /* Hover/Focus/Active colors */
  --color-theme-switch--hover: var(--red-200);
  --color-key-background--hover: var(--cream-10);
  --color-delete-key-background--hover: var(--dark-blue-300);
  --color-reset-key-background--hover: var(--dark-blue-300);
  --color-equals-key-background--hover: var(--red-200);
}

/* General styling */
*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  display: grid;
  justify-items: center;
  min-height: 100vh;
  padding-block: 1.875rem;
  padding-inline: 1.5rem;
  font-family: "League Spartan", sans-serif;
  background-color: var(--color-main-background);
}

@media screen and (min-width: 48em) {
  body {
    place-items: center;
  }
}

/* Calculator */
.calculator {
  width: min(100%, 33.75rem);
}

/* Calculator top */
.top {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
}

.top h1 {
  margin-left: 0.1875rem;
  font-size: 2rem;
  line-height: 1.6rem;
  letter-spacing: -0.53px;
  color: var(--color-calculator-name);
}

@media screen and (min-width: 48em) {
  .top h1 {
    margin-left: 0.4375rem;
  }
}

.top .theme {
  display: flex;
  align-items: flex-end;
  column-gap: 1.625rem;
  font-size: 0.75rem;
  text-transform: uppercase;
  color: var(--white);
}

.top .theme span {
  /*  margin-bottom: 0.3125rem; */
  margin-bottom: 0.625rem;
  line-height: 0.2rem;
  letter-spacing: 1px;
}

.theme-switch-labels {
  display: flex;
  margin-bottom: 0.3125rem;
}

.theme-switch-labels label {
  cursor: pointer;
  flex: 1;
  text-align: center;
}

.theme-switch {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 4.4375rem;
  height: 1.625rem;
  padding: 0.3125rem;
  border-radius: 3.125rem;
  background-color: var(--color-theme-switch-background);
}

.theme-switch:focus-within .knob {
  background-color: var(--color-theme-switch--hover);
}

.theme-switch input {
  cursor: pointer;
  opacity: 0;
  transform: scale(2);
}

.theme-switch .knob {
  cursor: pointer;
  position: absolute;
  top: 0.3125rem;
  left: 0.3125rem;
  z-index: 3;
  display: block;
  width: 1rem;
  height: 1rem;
  border-radius: 50%;
  background-color: var(--color-theme-switch);
  transition: 300ms ease-in-out;
}

.theme-switch .knob:hover {
  background-color: var(--color-theme-switch--hover);
}

#theme-select-2:checked ~ .knob {
  left: 50%;
  transform: translateX(-50%);
}

#theme-select-3:checked ~ .knob {
  left: calc(100% - 0.3125rem);
  transform: translateX(-100%);
}

/* Calculator Display */
.display {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  height: var(--size-display-height);
  margin-top: 2rem;
  padding-inline: var(--size-display-horizontal-padding);
  border-radius: 0.625rem;
  background-color: var(--color-display-background);
  font-size: var(--text-size-display);
  color: var(--color-display-text);
}

#display-text {
  margin-top: 0.25rem;
  letter-spacing: -0.93px;
}

/* Calculator Keypad */
.keypad {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  column-gap: var(--space-keypad-key-horizontal-gap);
  row-gap: var(--space-keypad-key-vertical-gap);
  margin-top: 1.5rem;
  padding-block: var(--space-keypad-vertical-padding);
  padding-inline: var(--space-keypad-horizontal-padding);
  border-radius: 0.625rem;
  background-color: var(--color-keypad-background);
}

#reset,
#equals {
  grid-column: span 2;
}

/* Calculator keys */
.key {
  --shadow-color: var(--color-key-shadow);
  cursor: pointer;
  display: grid;
  place-items: center;
  height: 4rem;
  border: none;
  border-radius: var(--size-key-border-radius);
  background-color: var(--color-key-background);
  box-shadow: inset 0px -0.25rem 0px var(--shadow-color);
  font: inherit;
  font-size: var(--text-size-primary-keys);
  color: var(--color-key-text);
  /* disable tap higlight on mobile chrome */
  -webkit-tap-highlight-color: transparent;
  user-select: none;
}

.key:hover,
.key:focus-visible {
  background-color: var(--color-key-background--hover);
}

.key:active {
  align-self: end;
  height: calc(4rem - 0.25rem);
  box-shadow: none;
}

.key span {
  margin-top: 0.25rem;
}

#delete span,
#reset span,
#equals span {
  margin-top: 0.2rem;
  font-size: var(--text-size-secondary-keys);
  letter-spacing: -0.47px;
  text-transform: uppercase;
}

#delete {
  --shadow-color: var(--color-delete-key-shadow);
  background-color: var(--color-delete-key-background);
  color: var(--color-delete-key-text);
}

#delete:hover,
#delete:focus-visible {
  background-color: var(--color-delete-key-background--hover);
}

#reset {
  --shadow-color: var(--color-reset-key-shadow);
  background-color: var(--color-reset-key-background);
  color: var(--color-reset-key-text);
}

#reset:hover,
#reset:focus-visible {
  background-color: var(--color-reset-key-background--hover);
}

#equals {
  --shadow-color: var(--color-equals-key-shadow);
  background-color: var(--color-equals-key-background);
  color: var(--color-equals-key-text);
}

#equals:hover,
#equals:focus-visible {
  background-color: var(--color-equals-key-background--hover);
}
